# # Exclude specific files and directories
# main.go
# utils/
# configs/

# # Exclude system-specific files
# .DS_Store

# # Exclude Go dependencies lock file
# go.sum

# # Exclude environment configuration file
# .env
